@import "./../../Sass/Variables.scss";
@import "./../../../Sass/mixins.scss";


.portfolio-header {
	margin-bottom: 100px;

	@media (max-width: $maxSmallScreens) {
		margin-bottom: 60px;
	}

	.portfolio-title {
		@include section-title;
	}

	.portfolio-paragraph {
		@include section-paragraph;
	}
}

.portfolio-header {
	margin-bottom: 100px;

	@media (max-width: $maxSmallScreens) {
		margin-bottom: 60px;
	}

	.portfolio-title {
		@include section-title;
	}

	.portfolio-paragraph {
		@include section-paragraph;
	}
}
.about {
	background-color: $background-color;
	padding-top: 90px;
	padding-bottom: 90px;
	position: relative;
	min-height: 400px;
}
